@import '../../global/_variables.css';

.header {
    max-height: 40vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;

    @media (min-width: 768px) {
        max-height: 80vh;
    }

    &.headerBg {
        background-image: url(./../../pages/rio-de-janeiro/escadaria-selaron.jpg);
        background-position: center center;
        background-size: cover;
        min-height: 40vh;

        @media (min-width: 768px) {
            min-height: 80vh;
        }
    }
}

.link {
    text-decoration: none;
    position: absolute;
    top: 0;
    left: 0;
}

.title {
    font-size: 4rem;
    font-family: var(--BASE_FONT);
    font-weight: var(--FONT_WEIGHT_BOLD);
    line-height: 1.2;
    margin: 0;
    padding: 0 2vw;
    color: var(--WHITE);
    letter-spacing: .05em;
    text-shadow: 1px 1px 3px rgba(0,0,0,.6);
}

.imageWrap {
    width: 100%;
}